{% extends "layouts/base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post" class="card card-body text-center">
                <h1>Iniciar sesión</h1>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="username" name="username" id="username" class="form-control" placeholder="Write your username">
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Write your password">
                </div>
                <button class="btn btn-primary">Iniciar sesión</button>
            </form>
        </div>
    </div>
</main>


<br>
<br>
<br>
<br>
<br>

{% endblock %}